fastapi
uvicorn[standard]
# uvicorn removed and added above to allow websocket support
jinja2
azure-identity
python-dotenv
python-multipart
azure-core>=1.38.0 # not directly required, pinned by Snyk to avoid a vulnerability